<form [formGroup]="form">
  @for(control of perkFormArray.controls; track $index) {
    <span formArrayName="perks">
      <input id="perk{{$index}}" type="checkbox" [formControlName]="$index">
      @if($index === availablePerks.length - 1 || availablePerks[$index].desc !== availablePerks[$index+1].desc) {
        <label class="perk-label" for="perk{{$index}}" [innerHTML]="availablePerks[$index].desc | perkNumbers"></label>
        <br>
      }
    </span>
  }
</form>
<button (click)="submit()">Submit</button>
<button (click)="cancel()">Cancel</button>
