.deck-container {
  display: flex;
  max-width: 400px;
}

.card-deck-container {
  width: 75%;
  margin: 8px;
}

.deck-buttons-container {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin: 4px 0;
  }
}

.card-deck {
  --deck-card-color: #352417;
  height: 150px;
  width: auto;
  border-radius: 5px;
}

.card-deck-label {
  font-size: 16px;
  max-width: 400px;
  display: flex;
  justify-content: center;

  .card-deck-remainder {
    max-width: 60%;
    margin: 4px 0;
  }
}

.button-icon {
  height: 75px;
  width: 75px;
  border: none;

  img {
    height: 100%;
    width: 100%;
  }
}

.remaining-blurses{
  width: 120px;
  height: 42px;
  margin: 4px 0;
}

.image-remaining-blurses{
  width: 50px;
  border-radius: 5px;
  margin: 0 5px ;
}

.label-remaining-blurses-container{
  height: 50px;
  top: -53px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.label-remaining-blurses{
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24pt;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
