<div class="deck-container">
<!--  Shuffle and Reset Buttons-->
  <div class="deck-buttons-container">
    <img alt="{{owner}} Symbol" [src]="iconSrc"/>
    <button (click)="returnDiscardsToDeck()"
            [ngClass]="{highlight: shuffleCardDrawn}"
            title="Shuffle deck and keep additional cards">
      Shuffle Deck
    </button>
    <button (click)="resetDeck()"
            title="Reset this deck to base and then shuffle">
      Reset Deck
    </button>
  </div>
  <div class="card-deck-container">
    <img class="card-deck"
       [style]="deckRemainderSizeStyle"
       alt="Remaining Deck of Modifier Cards"
       [src]="cardBackImage"/>
  </div>
  <div class="deck-buttons-container">
    <button class="button-icon"
            (click)="addBlessToModifierDeck()"
            title="Adds a Bless card to this Modifier deck">
      <img alt="bless icon" src="assets/icons/bless.png"/>
    </button>
    <button class="button-icon"
            (click)="addCurseToModifierDeck()"
            title="Adds a Curse card to this Modifier deck">
      <img alt="curse icon" src="assets/icons/curse.png"/>
    </button>
  </div>
</div>
<!--Labels for deck-->
<div class="card-deck-label">
  <div class="card-deck-remainder">
    <div style="display: flex; justify-content: center; padding: 4px;">Cards left:</div>
    <div style="display: flex; justify-content: center; padding: 4px;">{{drawPile.length}}</div>
  </div>
  <button (click)="myDialog.show()" title="Show Discard Pile">Discard Pile: {{discardPile.length}}</button>
  <div class="remaining-blurses">
    <div>
      <img class="image-remaining-blurses" alt="Remaining Curse Cards " src="assets/icons/curse.png" />
      <img class="image-remaining-blurses" alt="Remaining Bless Cards" src="assets/icons/bless.png" />
    </div>
    <div class="label-remaining-blurses-container">
      <div class="label-remaining-blurses">{{blurseDeckService.getCurseDeck(owner).length}}</div>
      <div class="label-remaining-blurses">{{blurseDeckService.getBlessDeck().length}}</div>
    </div>
  </div>
</div>

<br>
<!--Other Buttons-->
<button (click)="drawCard(1)">Draw a card</button>
<button (click)="drawCard(2)">Draw two cards</button>
@if(owner !== 'monster')
{
  <button (click)="pickPerk()">Perks</button>
  <button (click)="saveDeck()">Save</button>
}

<br>
<!--Display last drawn cards (max of 2)-->
<div class="drawn-card-container">
  @for(card of drawnCards; track card.id) {
    <div class="drawn-card">
      <app-card [card]="card"/>
    </div>
  }
</div>
<!--Discard card modal and functionality-->
<dialog #myDialog class="discard-modal" (click)="myDialog.close()">
  <div class="discard-modal-info">
    <button (click)="myDialog.close()"
            class="modal-close-button"
            title="Show Discard Pile">X</button>
    <div class="discard-card-container">
      @if(discardPile.length === 0) {
        <div style="display: flex; justify-content: center">
          No cards in discard pile
        </div>
      }
      @for(card of discardPile; track $index) {
        <div class="discard-card">
          <app-card [card]="card"/>
          @if($index === discardPile.length - 1) {
            <span class="last-card-drawn-label">Last card drawn</span>
          }
        </div>
      }
    </div>
  </div>
</dialog>
