/* You can add global styles to this file, and also import other style files */

.img-button {
  cursor: pointer;
}

body {
  display: flex;
  flex-wrap: wrap;
}

app-root {
  width: 100%;
}

button {
  margin: 4px;

  &.highlight {
    border-color: red;
    border-radius: 2px;
  }
}
