/* You can add global styles to this file, and also import other style files */

.img-button {
  cursor: pointer;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-image: url("assets/background-map.jpg");
  background-position-y: -330px;
}

app-root {
  width: 100%;
}

input {
  font-family: 'High Tower';
}

button {
  margin: 4px;
  font-family: 'High Tower';

  &.highlight {
    border-color: red;
    border-radius: 2px;
  }

  &:disabled {
    background: #DDDDDD;
    border: none;
    color: #101010;
    opacity: 60%;
  }
}

:root {
  --card-default-width-sm: 150px;
  --card-default-width-md: 225px;
  --card-default-height-sm: 100px;
  --card-default-height-md: 150px;

  font-family: 'Pirata One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* media breakpoints for reference
  --screen-width-sm: 576px;
  --screen-width-md: 768px;
  --screen-width-lg: 992px;
  --screen-width-xl: 1200px;
*/

.numeric {
  font-family: 'Pirata One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.perk-label-numbers {
  font-family: 'Pirata One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13pt;
}

@font-face {
  font-family: 'Pirata One';
  src: url('/assets/fonts/PirataOne-Gloomhaven.ttf') format('truetype');
}
@font-face {
  font-family: 'High Tower';
  src: url('/assets/fonts/HTOWERT.TTF') format('truetype');
}
